html,body, #root {
  margin: 0;
  font-size: 14px;
  line-height: 1.3em;
  height: 100%;
  font-family: "Helvetica Neue";
}

.boards {
  padding: 0 10px;
}

.app {
  height: 100%;
}

.board {
  background-color: rgb(0, 121, 191);
  color: white;
  height: 100%;
}

.title {
  padding-left: 10px;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  font-size: 30px;
  font-weight: 700;
}

.boards .title {
  color: rgb(80, 80, 80);
}

.title span {
  margin-left: 10px;
  font-size: 10px;
  font-weight: 400;
}

.title span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.board-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.board-button {
  color: #fff;
  background-color: rgb(0, 121, 191);
  padding: 16px;

}

.big-button {
  min-height: 64px;
  margin-right: 16px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 10px;
}

.add-board {
  background-color: rgb(226, 228, 230);
}

.add-board:hover {
  background-color: rgb(210, 212, 214);
}

.add-board .add-button {
  padding: 10px;
}

.add-board .add-button:hover {
  border-radius: 10px;
  height: 80px;
}

.add-board .add-button {
  height:100%;
}

.board-button:hover {
  background-color: rgb(0, 100, 158);
  cursor: pointer;
}

/*.add-board {*/
  /*background-color: rgb(131, 140, 145);*/
/*}*/

/*.create-board-button:hover {*/
  /*background-color: rgb(112, 120, 124);*/
  /*cursor: pointer;*/
/*}*/

.add-column-button .add-button {
  border-radius: 5px;
}

.columns {
  display: flex;
  overflow-x: auto;
  height: calc(100% - 100px);
}

.columns > * {
  flex: 0 0 auto;
  margin-left: 10px;
}

.columns::after {
  content: '';
  flex: 0 0 10px;
}

.column {
  width: 300px;
}

.column-content ul {
  list-style: none;
  -webkit-padding-start: 0;
}

.column-content {
  /*padding: 5px;*/
  /*width: 100%;*/
  background-color: rgb(226, 228, 230);
  color: #000;
  border-radius: 5px;
}

.column-title {
  /*color: rgb(51, 51, 51);*/
  /*font-weight: 700;*/
  /*font-size: 18px;*/
}

.column-content header {
  cursor: pointer;
  color: rgb(90, 90, 90);
  line-height: 36px;
  font-size: 16px;
  font-weight: 700;
  padding: 5px;
}


.column ul {
  padding: 5px;
  margin: 0;
}

.task {
  cursor: pointer;
  background-color: white;
  line-height: 30px;
  padding: 5px;
  border-radius: 3px;
  margin-top: 10px;
  box-shadow: 0 2px rgb(206, 208, 209);
}

.column .add-button {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  line-height: 36px;
}

.add-button {
  color: #888;
}

.add-button:hover {
  cursor: pointer;
  background-color: rgb(211, 213, 215);
}

.add-input {
  font-size: 14px;
  padding: 2px 5px;
  width: 100%;
  box-sizing : border-box;
  border-radius: 2px;
  height: 50px;
  border: 0;
  box-shadow: 0 2px rgb(206, 208, 209);
}

.add-input:focus {
  outline: 0;
}

.add-form {
  padding: 5px;
  /*border-bottom-left-radius: 5px;*/
  /*border-bottom-right-radius: 5px;*/
}

.add-form-button {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 15px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  border-radius: 5px;
  border: 0;
  box-shadow: 0 2px rgb(206, 208, 209);
  cursor: pointer;
}

.add-submit {
  background-color: #5aac44;
  margin-right: 10px;
  height: auto;
  width: auto;
}

.add-submit:hover {
  background-color: #478836;
}

.add-close {
  background-color: #888888;
}

.add-close:hover {
  background-color: #737373;
}

.moving {
  border: 1px dotted red
}

.move-overlay {
  cursor: pointer;
  color: white;
  border-radius: 5px;
  padding: 5px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2
}